In [145]:
import pandas as pd
import numpy as np

In [146]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                   'key2': ['um','dois','um','dois','um'],
                   'data1': [1,2,3,4,5],
                   'data2': [7,8,6,5,4]})

df

  key1  key2  data1  data2
0    a    um      1      7
1    a  dois      2      8
2    b    um      3      6
3    b  dois      4      5
4    a    um      5      4

In [147]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [148]:
grouped.mean()

key1
a    2.666667
b    3.500000
Name: data1, dtype: float64

In [149]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     dois    2.0
      um      3.0
b     dois    4.0
      um      3.0
Name: data1, dtype: float64

In [150]:
means.unstack()

key2  dois   um
key1
a      2.0  3.0
b      4.0  3.0

In [151]:
# df.groupby('key1').mean()

In [152]:
df.groupby(['key1', 'key2']).mean()

           data1  data2
key1 key2
a    dois    2.0    8.0
     um      3.0    5.5
b    dois    4.0    5.0
     um      3.0    6.0

In [153]:
df.groupby(['key1','key2']).size()

key1  key2
a     dois    1
      um      2
b     dois    1
      um      1
dtype: int64

In [154]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1  key2  data1  data2
0    a    um      1      7
1    a  dois      2      8
4    a    um      5      4
b
  key1  key2  data1  data2
2    b    um      3      6
3    b  dois      4      5

In [155]:
for (k1,k2), group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'dois')
  key1  key2  data1  data2
1    a  dois      2      8
('a', 'um')
  key1 key2  data1  data2
0    a   um      1      7
4    a   um      5      4
('b', 'dois')
  key1  key2  data1  data2
3    b  dois      4      5
('b', 'um')
  key1 key2  data1  data2
2    b   um      3      6

In [156]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':   key1  key2  data1  data2
 0    a    um      1      7
 1    a  dois      2      8
 4    a    um      5      4,
 'b':   key1  key2  data1  data2
 2    b    um      3      6
 3    b  dois      4      5}

In [157]:
pieces['b']

  key1  key2  data1  data2
2    b    um      3      6
3    b  dois      4      5

In [158]:
df.groupby(['key1', 'key2'])[['data1']].mean()

           data1
key1 key2
a    dois    2.0
     um      3.0
b    dois    4.0
     um      3.0

In [159]:
people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','d','e'],
                      index=['Joao','Maria','Rafael','Marina','Miguel'])
people

               a         b         c         d         e
Joao    0.228880  0.211192  1.071357 -1.647042  0.758914
Maria  -0.767736  0.143181 -0.309467  1.124120 -0.872110
Rafael  2.423982 -0.635078 -1.118523  0.539099  0.739056
Marina -2.272936 -1.000617 -1.030190 -1.359018 -1.160603
Miguel  0.243342 -1.126336  0.153003 -0.007568 -0.572644

In [160]:
people.iloc[2:3, [1,2]] = np.nan
people

               a         b         c         d         e
Joao    0.228880  0.211192  1.071357 -1.647042  0.758914
Maria  -0.767736  0.143181 -0.309467  1.124120 -0.872110
Rafael  2.423982       NaN       NaN  0.539099  0.739056
Marina -2.272936 -1.000617 -1.030190 -1.359018 -1.160603
Miguel  0.243342 -1.126336  0.153003 -0.007568 -0.572644

In [161]:
mapping = {'a': 'vermelho', 'b':'vermelho', 'c':'azul', 'd':'azul', 'e':'vermelho', 'f':'laranja'}

In [162]:
people.groupby(mapping,axis=1).sum()

C:\Users\47131502023.1\AppData\Local\Temp\ipykernel_17540\1313810169.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  people.groupby(mapping,axis=1).sum()

            azul  vermelho
Joao   -0.575684  1.198986
Maria   0.814652 -1.496665
Rafael  0.539099  3.163038
Marina -2.389208 -4.434157
Miguel  0.145435 -1.455639

In [163]:
map_series = pd.Series(mapping)
map_series

a    vermelho
b    vermelho
c        azul
d        azul
e    vermelho
f     laranja
dtype: object

In [164]:
people.groupby(map_series, axis=1).count()

C:\Users\47131502023.1\AppData\Local\Temp\ipykernel_17540\1833935060.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  people.groupby(map_series, axis=1).count()

        azul  vermelho
Joao       2         3
Maria      2         3
Rafael     1         2
Marina     2         3
Miguel     2         3

In [165]:
people

               a         b         c         d         e
Joao    0.228880  0.211192  1.071357 -1.647042  0.758914
Maria  -0.767736  0.143181 -0.309467  1.124120 -0.872110
Rafael  2.423982       NaN       NaN  0.539099  0.739056
Marina -2.272936 -1.000617 -1.030190 -1.359018 -1.160603
Miguel  0.243342 -1.126336  0.153003 -0.007568 -0.572644

In [166]:
people.iloc[2:3, [1,2]] = np.nan
people

               a         b         c         d         e
Joao    0.228880  0.211192  1.071357 -1.647042  0.758914
Maria  -0.767736  0.143181 -0.309467  1.124120 -0.872110
Rafael  2.423982       NaN       NaN  0.539099  0.739056
Marina -2.272936 -1.000617 -1.030190 -1.359018 -1.160603
Miguel  0.243342 -1.126336  0.153003 -0.007568 -0.572644

In [167]:
df

  key1  key2  data1  data2
0    a    um      1      7
1    a  dois      2      8
2    b    um      3      6
3    b  dois      4      5
4    a    um      5      4

In [168]:
dfn = df.select_dtypes(include='number')
dfn

   data1  data2
0      1      7
1      2      8
2      3      6
3      4      5
4      5      4

In [169]:
df.groupby(['key1']).count()

      key2  data1  data2
key1
a        3      3      3
b        2      2      2

In [170]:
df.groupby(['key1']).sum()

          key2  data1  data2
key1
a     umdoisum      8     19
b       umdois      7     11

In [171]:
dfn.groupby(['key1']).mean()

KeyError: 'key1'

In [ ]:
dfn.groupby(['key1']).median()

TypeError: agg function failed [how->median,dtype->object]

In [ ]:
dfn.groupby(['key1']).std()

ValueError: could not convert string to float: 'um'

In [ ]:
df.groupby(['key1']).min()

      key2  data1  data2
key1
a     dois      1      4
b     dois      3      5

In [ ]:
df.groupby(['key1']).max()

     key2  data1  data2
key1
a      um      5      8
b      um      4      6

In [ ]:
dfn.groupby(['key1']).prod()

TypeError: agg function failed [how->prod,dtype->object]

In [ ]:
df.groupby(['key1']).last()

      key2  data1  data2
key1
a       um      5      4
b     dois      4      5

In [172]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.5)

key1
a    2.0
b    3.5
Name: data1, dtype: float64

In [173]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [174]:
grouped[['data1', 'data2']].agg(peak_to_peak)

      data1  data2
key1
a         4      4
b         1      1

## Atividade: Agrega o grupo!
####  O QUE FAZER?
Desenvolver um cdigo que realize as seguintes aes:
####  COMO FAZER?
1. Criar um DataFrame com o dataset https://people.sc.fsu.edu/~jburkardt/data/csv/zillow.csv
definindo os nomes das colunas como index, space, beds, baths, zip, year e list_price;
1. Mostrar a quantidade de casas por nmero de quartos (quartos  a coluna Bed);
1. Mostrar o valor mdio das casas por nmero de quartos;
1. Criar uma funo de agregao que retorne o valor mdio da quantidade de quartos e do preo
dos imveis.

In [198]:
zillow = pd.read_csv('../csv/zillow(1).csv')
zillow.columns = ['index', 'space', 'beds', 'baths', 'zip', 'year', 'list_price']
zillow

    index  space  beds  baths    zip  year  list_price
0       1   2222     3    3.5  32312  1981      250000
1       2   1628     3    2.0  32308  2009      185000
2       3   3824     5    4.0  32312  1954      399000
3       4   1137     3    2.0  32309  1993      150000
4       5   3560     6    4.0  32309  1973      315000
5       6   2893     4    3.0  32312  1994      699000
6       7   3631     4    3.0  32309  1996      649000
7       8   2483     4    3.0  32312  2016      399000
8       9   2400     4    4.0  32312  2002      613000
9      10   1997     3    3.0  32311  2006      295000
10     11   2097     4    3.0  32311  2016      290000
11     12   3200     5    4.0  32312  1964      465000
12     13   4892     5    6.0  32311  2005      799900
13     14   1128     2    1.0  32303  1955       89000
14     15   1381     3    2.0  32301  2006      143000
15     16   4242     4    5.0  32303  2007      569000
16     17   2533     3    2.0  32310  1991      365000
17     18   1158     3    2.0  32303  1993      155000
18     19   2497     4    4.0  32309  1990      289000
19     20   4010     5    3.0  32309  2002      549900

In [202]:
zillow[['beds','space']].groupby('beds').count()

      space
beds
2         1
3         7
4         7
5         4
6         1