In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [6]:
index = [('Rio de Janeiro', 2000), ('Rio de Janeiro', 2010),
         ('Recife', 2000), ('Recife', 2010),
         ('Fortaleza', 2000), ('Fortaleza', 2010),
         ('Porto Alegre', 2000), ('Porto Alegre', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561,
               21976457, 23378102]
pop = pd.Series(populations, index=index)
pop

(Rio de Janeiro, 2000)    33871648
(Rio de Janeiro, 2010)    37253956
(Recife, 2000)            18976457
(Recife, 2010)            19378102
(Fortaleza, 2000)         20851820
(Fortaleza, 2010)         25145561
(Porto Alegre, 2000)      21976457
(Porto Alegre, 2010)      23378102
dtype: int64

In [7]:
pop[('Rio de Janeiro', 2010):('Recife', 2000)]

(Rio de Janeiro, 2010)    37253956
(Recife, 2000)            18976457
dtype: int64

In [8]:
pop_multiindex = pd.Series([33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561,
               21976457, 23378102],
               index=[['Rio de Janeiro','Rio de Janeiro','Recife','Recife','Fortaleza','Fortaleza','Porto Alegre','Porto Alegre'],
                      [2000,2010,2000,2010,2000,2010,2000,2010]])

pop_multiindex

Rio de Janeiro  2000    33871648
                2010    37253956
Recife          2000    18976457
                2010    19378102
Fortaleza       2000    20851820
                2010    25145561
Porto Alegre    2000    21976457
                2010    23378102
dtype: int64

In [9]:
pop_multiindex.index

MultiIndex([('Rio de Janeiro', 2000),
            ('Rio de Janeiro', 2010),
            (        'Recife', 2000),
            (        'Recife', 2010),
            (     'Fortaleza', 2000),
            (     'Fortaleza', 2010),
            (  'Porto Alegre', 2000),
            (  'Porto Alegre', 2010)],
           )

In [10]:
pop_multiindex['Rio de Janeiro']

2000    33871648
2010    37253956
dtype: int64

In [13]:
pop_multiindex.loc[['Rio de Janeiro','Fortaleza']]

Rio de Janeiro  2000    33871648
                2010    37253956
Fortaleza       2000    20851820
                2010    25145561
dtype: int64

In [12]:
pop_multiindex.unstack()

                    2000      2010
Fortaleza       20851820  25145561
Porto Alegre    21976457  23378102
Recife          18976457  19378102
Rio de Janeiro  33871648  37253956