# Pandas

- **"import pandas as pd"** (Importa a biblioteca pandas, abriando para pd)

In [34]:
import pandas as pd

- **list('abcdef')** Gera uma lista contendo as letras 'a', 'b', 'c', 'd', 'e' e 'f'.
- **pd.Series** Cria uma serie, onde cada elemento da lista se torna um elemento na Série

In [35]:
s1 = pd.Series(list('abcdef'))
s1

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [36]:
s2 = pd.Series([2,4,6,8])
s2

0    2
1    4
2    6
3    8
dtype: int64

- **index** Gera indices customizaveis, semelhante ao funcionamento de um dicionario

In [37]:
s3 = pd.Series([2,4,6,8], index = ['a','b','c','d'])
s3

a    2
b    4
c    6
d    8
dtype: int64

In [38]:
s4 = pd.Series(range(4), index = list('abab'))
s4

a    0
b    1
a    2
b    3
dtype: int64

## Visualização

Visualização do indice 'b' que contem dois valores.

In [39]:
s4['b']

b    1
b    3
dtype: int64

Mostra o valor do indice'a' no 1º indice.

In [40]:
s4['a'][1]

2

## Operação Matematica

In [41]:
s4+2

a    2
b    3
a    4
b    5
dtype: int64

In [42]:
s4*2

a    0
b    2
a    4
b    6
dtype: int64

## Verificação

In [43]:
s4>=2

a    False
b    False
a     True
b     True
dtype: bool

Mostra os valores que retornam verdadeiro.

In [44]:
s4[s4<2]

a    0
b    1
dtype: int64

In [45]:
dicio = {'a':100, 'b':200, 'c':300}
s5 = pd.Series(dicio)
s5

a    100
b    200
c    300
dtype: int64

In [46]:
dicio2 = {'nome':'Maria', 'idade':'50','sexo':'feminino'}
s6 = pd.Series(dicio2)
s6

nome        Maria
idade          50
sexo     feminino
dtype: object

In [47]:
dicionario = {'b': 100, 'c': 150, 'd': 200}
s = pd.Series(dicionario)
s

b    100
c    150
d    200
dtype: int64

In [48]:
s = pd.Series(dicionario, list('abcd'))
s

a      NaN
b    100.0
c    150.0
d    200.0
dtype: float64

In [49]:
s6 = pd.Series([1,2,3], index = ['c','b','a'])
s6

c    1
b    2
a    3
dtype: int64

In [50]:
s*s6

a      NaN
b    200.0
c    150.0
d      NaN
dtype: float64

## Atividade: Primeira série

### ➔ O QUE FAZER?
1. Criar duas series pandas com 4 posições cada, realizar as quatro operações matemáticas
básicas entre as series e mostrar o resultado;
2. Criar uma terceira serie pandas com apenas 3 posições, realizar as quatro operações
matemáticas básicas com uma das series do exercício anterior e explicar o resultado.
### ➔ COMO FAZER?
Em grupos de 3 a 4 pessoas.
### ➔ FECHAMENTO
Compartilhar as impressões gerais da atividade e dúvidas.

In [51]:
x = pd.Series([1,2,3,4])
y = pd.Series([5,6,7,8])

x+y #Soma

0     6
1     8
2    10
3    12
dtype: int64

In [52]:
x-y #Subtração

0   -4
1   -4
2   -4
3   -4
dtype: int64

In [53]:
x*y #Multiplicação

0     5
1    12
2    21
3    32
dtype: int64

In [54]:
x/y #Divisão

0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

2. Criar uma terceira serie pandas com apenas 3 posições, realizar as quatro operações matemáticas básicas com uma das series do exercício anterior e explicar o resultado.
#

In [55]:
z = pd.Series([8, 9, 10])

x+z #Soma

0     9.0
1    11.0
2    13.0
3     NaN
dtype: float64

In [56]:
x-z #Subtração

0   -7.0
1   -7.0
2   -7.0
3    NaN
dtype: float64

In [57]:
x*z #Multiplicação

0     8.0
1    18.0
2    30.0
3     NaN
dtype: float64

In [58]:
x/z #Divisão

0    0.125000
1    0.222222
2    0.300000
3         NaN
dtype: float64

O calculo do indice 3 resulta em **NaN** pois a Serie Z nao tem o 4 elemento.

#### 3.Desafio 
Criar séries para guardar as seguintes informações sobre notas de alunos.
- aluna maria tirou 7 no teste 10 na prova
- aluno bruno tirou 6 no teste 8 na prova
- aluno Lucas tirou 6 no teste e 10 na prova

### • Forma 1

In [59]:
m = pd.Series([7,7,6,8,6,10], index = ['Maria Teste','Maria Prova','Bruno Teste','Bruno Prova','Lucas Teste','Lucas Prova'])
m

Maria Teste     7
Maria Prova     7
Bruno Teste     6
Bruno Prova     8
Lucas Teste     6
Lucas Prova    10
dtype: int64

### • Forma 2

In [60]:
n = pd.Series([7,7,6,8,6,10], index = ['Maria','Maria','Bruno','Bruno','Lucas','Lucas'])
n["Maria"]

Maria    7
Maria    7
dtype: int64

In [61]:
n["Bruno"]

Bruno    6
Bruno    8
dtype: int64

In [62]:
n["Lucas"]

Lucas     6
Lucas    10
dtype: int64

https://tome.app/